*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #00ffff;
    display: flex;
    justify-content: center;

    align-items: center;
    height: 100vh;
    
    flex-direction: column;
    gap: 30px;
}
.inputs{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 32px;
}
.data{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}
.data input{
    padding: 5px;
    outline: none;
    border: 1px solid #bf00ff;
}
.data button{
    background-color: #bf00ff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.list{
    display: flex;
    justify-content: space-around;
    width: 100%;

    align-items: flex-start;
}
.box{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
.item{
    background-color: #928cff;
    padding: 10px;
    margin: 5px;
    cursor: move;
    color: white;
}